body, h1, h2 {
  margin: 0;
  padding: 0;
  font-family: 'Francois One', sans-serif;
}

header {
  background-color: green;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#inputSection {
  background-color: pink;
}

#employeeInfoSection {
  background-color: teal;
}

#employeeInfoSection {
  background-color: lavender;
}

#monthlyExpensesSection {
  background-color: yellow;
}

.salaryField {
  filter: blur(5px);
  transition: 200ms;
}

.salaryField:hover {
  filter: none;
  transition: 200ms;
}